[user]
	name = Mark Zhou
	email = mrmarktyy@gmail.com
[alias]
    lg = log --graph --all --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)' --abbrev-commit --date=relative --color
    c = commit -am
    s = status
    df = diff --color --color-words --abbrev
[push]
    default = simple 
