[user]
	name = Mark Zhou
	email = mrmarktyy@gmail.com
[alias]
    lg = log --graph --all --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)' --abbrev-commit --date=relative --color
    c = commit -am
    co = checkout
    s = status
    df = diff --color --abbrev
    last = diff --color --abbrev @{1}..
    springcleaning = "for-each-ref --sort=-committerdate --format='%(refname:short) %(committerdate:short)'"
[push]
    default = simple 
[merge]
    tool = opendiff
[help]
    autocorrect = 1
[core]
    editor = vim
    excludesfile = ~/.gitignore
    # insanely beautiful diffs
    pager = diff-highlight | diff-so-fancy | less -r
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true

# so much color
[color]
  ui = always
[color "diff"]
  meta = yellow bold
  commit = green bold
  frag = magenta bold
  old = red bold
  new = green bold
  whitespace = red reverse
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22
[color "branch"]
  current = yellow reverse
  local = yellow
  remote = green
[color "status"]
  added = yellow
  changed = green
  untracked = cyan
